
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New inquiry for business!</h1>
    <h4><%= @inquiry.name %> has filled out the form on your website.</h4>
    <% if @inquiry.message %>
      <h4>The following message was included:</h4>
      <p>
        <%= @inquiry.message %>
      </p>
    <% end %>
    <h4>
      You may contact them back at: <%= @inquiry.email %>.
    </h4>
    <% if @inquiry.phone_number %>
    <h4>Or: <%= @inquiry.phone_number %></h4>
    <% end %>
  </body>
</html>