<div class="portfolio">
	<div class="card"><%= image_tag "bell-hour", alt: "school image" %>
	  <div class="info">
		<h1>Bell Hour</h1>
		<p>Bell Hour is a RoR web app that serves as an internal communication software for elementary schools.</p>
		<button class="btn-flat"><%= link_to  "Link Coming Soon", "#" %></button>
	  </div>
	</div>

	<div class="card"><%= image_tag "popps", alt: "baseball image" %>
	  <div class="info">
		<h1>POPPS API</h1>
		<p>The POPPS API serves as different endpoints so that an Android app can create/update data that is accessed by both the native app and a seperate web app.</p>
		<button class="btn-flat"><%= link_to  "Link Coming Soon", "#" %></button>
	  </div>
	</div>
</div>