<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h3>Currently living in:</h3>
<!--The div element for the map -->
<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSSwTYpOSbRe2f6_AGYGv3r6VCf52qGuw&callback=initMap">
</script>


