<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <h4>
      Thank you for reaching out.
    </h4>
    <h4>
      This is an automated email to let you know I received your form, and that I will be reaching out to you soon.
    </h4>
    <h4>
      Thank you for your interest,<br/>
      Michael Villarreal<br/>
      me@mikevkc.dev
    </h4>
  </body>
</html>