.banner_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.video-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.type-holder {
	margin-top: 10%;
	margin-left: 5%;
	display: flex;
	align-items: center;
	color: $white;
}

.jumbo-text {
	font-size: 96px;
}

@media only screen and (max-width: 480px) {
  .type-holder {
  	margin: 40% 5% 0%;
  }
  .jumbo-text {
  	font-size: 56px;
  }
}