.intro {
	display: flex;
	flex-direction: column;
	h2 {
		width: 500px;
	}
	h4 {
		width: 400px;
	}
}

.intro-message {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  h4 {
  	margin: 0px;
  }
}