.navbar-custom {
  justify-content: space-between;
  background: transparent;
  transition: 0.75s background-color ease;
}

.navbar-blue {
	background-color: $blue;
	box-shadow: 0 5px 15px rgba(0,0,0,.07);
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}


