.footer{
  display: flex;
  justify-content: center;
}

.social-icons {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
  	color: $blue;
  	&:hover{
  		color: $neon-blue;
  	}
  } 
}