// .footer{
//   display: flex;
//   justify-content: center;
// }

.social-icons {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
  	color: $blue;
  	&:hover{
  		color: $neon-blue;
  	}
  } 
}